:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  font-family: "Epilogue", sans-serif;

}

h1, p, body {
  background-color: var(--almost-white);
  margin: 0;
}

p {
  font-size: 18px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: var(--almost-black);
}

nav {
  /* display: inline-block; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-content {
  display: flex;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-items {
  position: absolute;
  padding: 20px;
  width: 120px;
  display: none;
}

.hero-img-desktop {
  width: 50%;
}
