:root {
  --almost-white: hsl(0, 0%, 98%);
  --medium-gray: hsl(0, 0%, 41%);
  --almost-black: hsl(0, 0%, 8%);
  font-family: "Epilogue", sans-serif;

}

h1, p, body {
  background-color: var(--almost-white);
  margin: 0;
}

p {
  font-size: 18px;
  text-align: center;
}

h1 {
  font-size: 70px;
  color: var(--almost-black);
}

nav {
  /* display: inline-block; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.nav-content {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-items {
  position: absolute;
  padding: 20px;
  width: 120px;
  display: none;
}

.hero-img-desktop {
  width: 100%;
}

.nav-btns button:nth-child(1) {
  background-color: transparent;
  border: none;
}

.nav-btns button:nth-child(2) {
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 25px;
  border-radius: 10px;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  grid-gap: 80px;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.hero-title {
  width: 500px;

}
